extends ../abstract/post-with-time

block back
    a(href=`/${year}/${month}/${day}/${hour}/${minute}/${second}`) ←

block content
    form(id='post-edit' action=`/${year}/${month}/${day}/${hour}/${minute}/${second}?edited` method='post')
        - let post = fs.readFileSync(`content/${year}/${month}/${day}/${hour}-${minute}-${second}.md`).toString()
        - post = post.substring(0, post.length - 1)
        textarea(id='post-edit' name='message')!= post

block action
    input(type='submit' form='post-edit')
