extends ../abstract/post-without-time

block back
    a(href=`/${year}/${month}`) â†

block content
    .post-content!= md.render(fs.readFileSync(`content/${year}/${month}/${day}/allday.md`).toString())

block action
    a(href=`/${year}/${month}/${day}/edit`) edit
