-
    let file, date, edit;
    if (hour === undefined) {
        file = `content/${year}/${month}/${day}/allday.md`;
        date = new Date(Date.UTC(year, month-1, day));
        edit = `/${year}/${month}/${day}/edit`;
    } else {
        file = `content/${year}/${month}/${day}/${hour}-${minute}-${second}.md`;
        date = new Date(Date.UTC(year, month-1, day, hour, minute));
        edit = `/${year}/${month}/${day}/${hour}/${minute}/${second}/edit`;
    }

html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet' href='/static/style.css')
        script(defer src='/static/client.js')
    body
        #banner
            a(href='/')= title
        div(class=['month-index', monthIndexLayout])
            - let y = firstYear;
            - let m = firstMonth;
            while (y <= lastYear)
                div
                    p= y
                    ul
                        while ((y != lastYear && m <= 12) || m <= lastMonth)
                            li
                                a(href=`/${y}/${m.zeropad(2)}`)= dateFormat(new Date(Date.UTC(y, m - 1)), 'UTC:mmmm')
                            - m++;
                - y++; m = 1;
        #content
            .header
                span.back
                    a(href=`/${year}/${month}`) â†
                span= dateFormat(new Date(Date.UTC(year, month-1, day)), 'UTC:dddd, mmmm d yyyy')
            .post
                .post-content!= md.render(fs.readFileSync(file).toString())
                .post-info
                    span= dateFormat(date, 'UTC:ddd').toLowerCase()
                    span= dateFormat(date, 'UTC:dd/mm')
                    span= dateFormat(date, 'UTC:yyyy')
                    span= dateFormat(date, 'UTC:HH:MM')
                    a(href=edit) edit
            #footer
