extends ../abstract/post-with-time

block back
    a(href=`/${year}/${month}`) â†

block content
    .post-content!= md.render(fs.readFileSync(`content/${year}/${month}/${day}/${hour}-${minute}-${second}.md`).toString())

block action
    a(href=`/${year}/${month}/${day}/${hour}/${minute}/${second}/edit`) edit
