extends ../main

block content
    if (data == null)
        #no-posts-container
            #no-posts= `No posts this ${date.monthString()}.`
    else
        each [header, posts] of data
            .header= header
            each date in posts
                include post
        #footer
            #navArrows
                - month = date.getMonth() + 1; year = date.getFullYear();
                div
                    if (year > firstYear || month > firstMonth)
                        a(href=month == 1 ? `/${year-1}/12` : `/${year}/${(month-1).zeropad(2)}`) ←
                div
                    span ⬥
                div
                    if (year < lastYear || month < lastMonth)
                        a(href=month == 12 ? `/${year+1}/01` : `/${year}/${(month+1).zeropad(2)}`) →
