html
    include ../head
    body
        #banner
            a(href='/')= title
        #main
            include ../sidebar
            #content
                - let pathMonth = ['content', year, month].join('/');
                if (!fs.existsSync(pathMonth))
                    #no-posts-container
                        #no-posts= `No posts this ${dateFormat(new Date(year, month-1), "mmmm")}.`
                else
                    - let days = fs.readdirSync(pathMonth).filter(f => /^\d{2}$/.test(f));
                    each day in days
                        .header= dateFormat(new Date(year, month-1, day), 'dddd, mmmm d yyyy')
                        - let pathDay = [pathMonth, day].join('/');
                        if fs.existsSync([pathDay, 'allday.md'].join('/'))
                            include post
                        - let posts = fs.readdirSync(pathDay).filter(f => /^\d{2}-\d{2}-\d{2}\.md$/.test(f));
                        each post, i in posts
                            - let [_, hour, minute, second] = post.match(/^(\d{2})-(\d{2})-(\d{2}).md$/);
                            include post
                    #footer
                        #navArrows
                            - month = parseInt(month); year = parseInt(year);
                            div
                                if (year > firstYear || month > firstMonth)
                                    a(href=month == 1 ? `/${year-1}/12` : `/${year}/${(month-1).zeropad(2)}`) ←
                            div
                                span ⬥
                            div
                                if (year < lastYear || month < lastMonth)
                                    a(href=month == 12 ? `/${year+1}/01` : `/${year}/${(month+1).zeropad(2)}`) →
