extends ../post

block content
    .post-content!= md.render(fs.readFileSync(file).toString())

block action
    a(href = (hour === undefined ?
        `/${year}/${month}/${day}` :
        `/${year}/${month}/${day}/${hour}/${minute}/${second}`)) view
