extends ../post

block content
    div(class='post-body view')!= md.render(fs.readFileSync(file).toString())

block link
    a(href = (hour === undefined ?
        `/${year}/${month}/${day}/edit` :
        `/${year}/${month}/${day}/${hour}/${minute}/${second}/edit`)) edit
