extends two-pane

mixin post-footer(post)
    .post-footer
        // thu 01/12 1910 10:00 view ★
        span!= post.date.shortDayName
        span!= post.date.shortDate
        span!= post.date.year
        span!= post.timeString
        a(href = post.url) view
        span(
            class = post.favorite ? ['fav', 'active'] : ['fav']
            onclick = `fav(this, '${post.url}')`) ★

append css
    link(rel='stylesheet' href='/static/month.css')
    link(rel='stylesheet' href='/static/post.css')

block primary
    if (month.days.length === 0)
        #no-posts-container
            #no-posts= `No posts this ${month.longName}.`
    else
        each day of month.days
            .header= day.longDate
            each post in day.timedPosts
                .post
                    div(class='post-body view')!= post.html
                    +post-footer(post)
            if (day.alldayPost !== undefined)
                .post
                    div(class='post-body view')!= day.alldayPost.html
                    +post-footer(day.alldayPost)
