extends two-pane

append css
    link(rel='stylesheet' href='/static/post.css')

block primary
    .header
        span.back
            a(href=month.url) ←
        span= post.displayDate.longDate
    .post
        form(class='post-body edit' id='form' method='post' action=post.submitEditUrl)
            textarea(form='form' name='message')!= post.markdown
        a(id='submit-edit' href='javascript:document.forms["form"].submit()') done
    .post-footer
        span!= post.date.shortDayName
        span!= post.date.shortDate
        span!= post.date.year
        span!= post.timeString
        span(
            class = post.favorite ? ['fav', 'active'] : ['fav']
            onclick = `fav(this, '${post.url}')`) ★
    #footer
