-
    let back = (hour === undefined ?
        `/${year}/${month}/${day}` :
        `/${year}/${month}/${day}/${hour}/${minute}/${second}`);

html
    include ../head
    body
        #banner
            a(href='/')= title
        #main
            include ../sidebar
            #content
                .header
                    span.back
                        a(href=back) â†
                    span= dateFormat(new Date(Date.UTC(year, month-1, day)), 'UTC:dddd, mmmm d yyyy')
                include post
                #footer
